<% provide(:title, "Ratings") %>
<h1>Evaluations</h1>
<p>Find me in app/views/user_static_pages/ratingPage.html.erb</p>


 <h2>New Rating for <%#@selected_user.u_name%> </h2>


  <form action="/addEval" method="post">

  <div class="container">
    <label for="eval[pname]"><b>Evaluation Rating (between 1 and 10)</b></label>
    <div>
    <input type="number" min = "1" max = "10" placeholder="Evnter Evaluation Rating" name="eval[rating]" required>
    </div>

    
  <div class="space">
      <label for="eval[comments]"><b>Comments</b></label>
        <div>
          <textarea type="text" placeholder="Enter Project Type" name="eval[comments]" required>
          <div class="space"> 
        </div>

      <button type="submit">Submit</button>
    </div>
   </div>

</form>
