<body>

  <h2>Add User</h2>
  <% flash.each do |message_type, message| %>       
    <div><%= message %></div>    
  <% end %>
  <form action="/addUser" method="post">

  <div class="container">

    <label for="user[uname]"><b>User Name</b></label>
    <div>
    <input type="text" placeholder="Enter User Name" name="user[u_name]" required>
    
    
    
  <div class="space">

    <label for="user[email]"><b>Email</b></label>
    <div>
    <input type="text" placeholder="Enter User's Email" name="user[e_mail]" required>
      <div class="space">

      <label for="user[passWord]"><b>Password</b></label>
          <div>
          <input type="text" placeholder="Enter User's Password" name="user[pass_word]" required>
            <div class="space">
            <label for="user[accountType]"><b>Account Type</b></label>
                  <div>
                  <input type="text" placeholder="Admin or User" name="user[account_type]" required>
                  <div class="space">  
    
  <button type="submit">Add</button>
  </div>

</form>

<h2>Add Group</h2>

<form action="/addGroup" method="post">

  <div class="container">

    <label for="group[gname]"><b>Group Name</b></label>
    <div>
    <input type="text" placeholder="Enter Group Name" name="group[g_name]" required>
    
  <button type="submit">Add</button>
  </div>

</form>

<h2>Add User to Group</h2>

<form action="/addUsertoGroup" method="post">

  <div class="container">
    <label for="addU[uname]"><b>User Name</b></label>
    <div>
    <input type="text" placeholder="Enter User Name" name="addU[u_name]" required>
 
  <div class="space">

    <label for="addU[gName]"><b>Group Name</b></label>
    <div>
        <input type="text" placeholder="Enter Group Name" name="addU[g_name]" required>
        <div class="space"> 
  <button type="submit">Add to Group</button>
  </div>
 
</form>
</body>