<% provide(:title, "Group") %>
<body>
<div class="centerBackground">
<h1>Groups</h1>
<p>Find me in app/views/admin_static_pages/groupPage.html.erb</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Groups for <%=@selected_project.p_name%></th>
    </tr>
  </thead>

    <tbody>
        <% @selected_project.groups.each do |group| %>
        <tr>
            <td> <%=link_to_button group.g_name, admin_static_pages_groupMemberPage_path(:selected_group => group.id)%>
        </tr>
        <% end %>
    </tbody>
</table>
<div>
</body>