<% provide(:title, "Group Members") %>
<h1>Group Members</h1>
<p>Find me in app/views/admin_static_pages/groupMemberPage.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Members of <%=@selected_group.g_name%></th>
    </tr>
  </thead>

    <tbody>
        <%= @selected_group.users.each do |user| %>
        <tr>
            <td><%= link_to user.u_name,  admin_static_pages_ratingPage_path(:selected_user =>user.id)  %></td>
        </tr>
        <% end %>
    </tbody>
</table>
