<% provide(:title, "Group Members") %>
<h1>Group Members</h1>
<p>Find me in app/views/admin_static_pages/groupMemberPage.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Members of <%#group name will go here%></th>
    </tr>
  </thead>

    <tbody>
        <%# @group.users.each do |user| %>
        <tr>
            <td><%# link_to user.u_name,  user_page_path  %></td>
        </tr>
        <%# end %>
    </tbody>
</table>
