<% provide(:title, "Projects") %>
<h1>Projects</h1>
<p>Find me in app/views/admin_static_pages/projectPage.html.erb</p>

<%= link_to '<button type="button">Add Project</button>'.html_safe, '/navAddProj' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
        <% @admin_projects.each do |project| %>
        <tr>
            <td><%= link_to project.p_name,  admin_static_pages_groupPage_path  %></td>
            <td><%=project.project_type%></td>
            <td><%=project.due_date%></td>
        </tr>
        <% end %>
    </tbody>
</table>

