<% provide(:title, "Ratings") %>
<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Evaluations Given</th>
    </tr>
  </thead>

    <tbody>
        <%# @user.evals.given.each do |eval| %>
        <tr>
            <td><%# should we show the whole eval in the table, or link to another page to see details?  %></td>
        </tr>
        <%# end %>
    </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Evaluations Made</th>
    </tr>
  </thead>

    <tbody>
        <%# @user.evals.made.each do |eval| %>
        <tr>
            <td><%# should we show the whole eval in the table, or link to another page to see details?  %></td>
        </tr>
        <%# end %>
    </tbody>
</table>

<p>Find me in app/views/admin_static_pages/ratingPage.html.erb</p>
