<h1>Add Admin</h1>

<% flash.each do |message_type, message| %>       
    <div><%= message %></div>    
  <% end %>

<form action='/admins' method="post">

    <div class="form-group">
        <label for="aname">User Name</label>
        <input type="text" class="form-control" placeholder="Enter Full Name (Ex: Brutus Buckeye)" name="admin[a_name]" required>
    </div>
    <div class="form-group">
        <label for="aemail">Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" name="admin[a_email]" required>
        Email must be in name.#@osu.edu format
    </div>

    <div class="form-group"> 
        <label for="apassword">Password</label>
    <input type="text" class="form-control" placeholder="Enter Password" name="admin[a_password]" required>
    Password must be at least 8 characters
    <div>
    
    <div class="addButton"> 
        <button type="submit" class="btn btn-primary">Add Admin</button>
    </div>
 
</form>

