<div class="centerBackground">

<h1>Add Group</h1>

<% flash.each do |message_type, message| %>       
    <div><%= message %></div>    
  <% end %>

<form action="/groups" method="post">

    <div class="form-group">
        <label for="group[gname]">Group Name</label>
        <input type="text" class="form-control" placeholder="Enter Group Name" name="group[g_name]" required>
    </div>
    
    <div class="addButton"> 
        <button type="submit" class ="submitBtn">Add Group</button>
    </div>
 
</form>
</div>
<%= render 'layouts/footer' %>
