<h1>Add Group</h1>

<% flash.each do |message_type, message| %>       
    <div><%= message %></div>    
  <% end %>

<form action="/groups" method="post">

  <div class="container">
    <div class="space">
        <label for="group[gname]"><b>Group Name</b></label>
    </div>
    <input type="text" placeholder="Enter Group Name" name="group[g_name]" required>
    
    <div class="space"> 
        <button type="submit">Add</button>
    </div>
 
</form>
