<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.g_name %>
</p>

<button type="button"><%= link_to 'Create Another Group', new_group_path %></button>
<button type="button"><%= link_to 'Projects', projects_path %></button>