<h1>Add User</h1>

<% flash.each do |message_type, message| %>       
    <div><%= message %></div>    
  <% end %>

<form action='/users' method="post">

    <div class="form-group">
        <label for="uname">User Name</label>
        <input type="text" class="form-control" placeholder="Enter Full Name (Ex: Brutus Buckeye)" name="user[u_name]" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" name="user[email]" required>
        Email must be in name.#@osu.edu format
    </div>

    <div class="form-group"> 
        <label for="password">Password</label>
    <input type="text" class="form-control" placeholder="Enter Password" name="user[password]" required>
    Password must be at least 8 characters
    <div>
    
    <div class="addButton"> 
        <button type="submit" class="btn btn-primary">Add User</button>
    </div>
 
</form>

