<% provide(:title, "Group") %>
<h1>Group Members for <%=@selected_project.p_name%> </h1>
<p>Find me in app/views/user_static_pages/groupPage.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Your Groups</th>
    </tr>
  </thead>

    <tbody>
        <% @selected_project.users.each do |user| %>
        <tr>
            <td><%= link_to group.g_name,  user_static_pages_ratingPage_path(:selected_user => user.id)  %></td>
        </tr>
        <% end %>
    </tbody>
</table>