<% provide(:title, "Projects") %>
<div class="centerBackground">
<h1>Projects</h1>
<p>Find me in app/views/user_static_pages/projectPage.html.erb</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
        <% @user_projects.each do |project| %>
        <tr>
            <td><%= link_to project.p_name,  user_static_pages_groupPage_path(:selected_project =>project.id)  %></td>
            <td><%=project.project_type%></td>
            <td><%=project.due_date%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>