<% provide(:title, "Ratings") %>
<h1>Evaluations</h1>
<p>Find me in app/views/user_static_pages/ratingPage.html.erb</p>

<table>
  <thead>
    <tr>
      <th>New Rating for <%=@selected_user.u_name%> </th>
    </tr>
  </thead>

    <tbody>
        <%# @user.evals.made.each do |eval| %>
        <tr>
            <td><%# should we show the whole eval in the table, or link to another page to see details?  %></td>
        </tr>
        <%# end %>
    </tbody>
</table>