<h1><%= @specific_project.p_name %>: <%= @specific_group.g_name %> Team Members</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

    <tbody>
        <% @specific_group_members.each do |member| %>
        <tr>
            <%#=link_to_button member.u_name, teamEval_path(:specific_user => member.id)%></td>
            <td> <%=link_to_button member.u_name, usersInGroup_path(:selected_group => member.id)%></td>
        </tr>
        <% end %>
    </tbody>
</table>