<div class="centerBackground">
<h1><%= @specific_project.p_name %>: <%= @specific_group.g_name %> Team Evaluations</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

    <tbody>
        <% @specific_group_members.each do |member| %>
        <tr>
            <%=link_to_button member.u_name, ratingPage_path(:team_member => member.id)%></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>